<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tez</string>
        <string>phonepe</string>
        <string>paytmmp</string>
        <string>credpay</string>
        <string>mobikwik</string>
        <string>freecharge</string>
        <string>in.fampay.app</string>
        <string>bhim</string>
        <string>amazonpay</string>
        <string>navi</string>
        <string>kiwi</string>
        <string>payzapp</string>
        <string>jupiter</string>
        <string>omnicard</string>
        <string>icici</string>
        <string>popclubapp</string>
        <string>sbiyono</string>
        <string>myjio</string>
        <string>slice-upi</string>
        <string>bobupi</string>
        <string>shriramone</string>
        <string>indusmobile</string>
        <string>whatsapp</string>
    </array>
</dict>
</plist>
